{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'index/css/style.css' %}" rel="stylesheet">
    <title>хакатон</title>
</head>
<body class="one">
    <div class="a">
        <img src="{% static 'index/images/logo.png' %}" alt="">
    </div>
    <div id="stop">
        <button id="button1">
            stop record
        </button>
    </div>
    <div id="start">
        <button id="button2">
            start record
        </button>
    </div>
    <script src="{% static 'index/js/script.js' %}"></script>
</body>
</html>